function Truck.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push pointer 0
call Truck.draw 1
pop temp 0
push pointer 0
return
function Truck.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Truck.getLocation 1
push argument 0
pop pointer 0
push constant 32
push this 1
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
return
function Truck.draw 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Truck.draw0 1
pop temp 0
label IF_FALSE0
push this 2
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Truck.draw90 1
pop temp 0
label IF_FALSE1
push this 2
push constant 180
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Truck.draw180 1
pop temp 0
label IF_FALSE2
push this 2
push constant 270
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Truck.draw270 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Truck.draw0 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Truck.getLocation 1
add
pop local 0
push local 0
push constant 0
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 29070
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 24582
call Memory.poke 2
pop temp 0
push constant 0
return
function Truck.draw90 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Truck.getLocation 1
add
pop local 0
push local 0
push constant 0
add
push constant 6256
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 10207
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1540
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1540
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1556
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1044
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1044
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1556
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1540
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1540
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 10207
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 6256
call Memory.poke 2
pop temp 0
push constant 0
return
function Truck.draw180 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Truck.getLocation 1
add
pop local 0
push local 0
push constant 0
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 24582
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29070
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16387
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16380
call Memory.poke 2
pop temp 0
push constant 0
return
function Truck.draw270 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Truck.getLocation 1
add
pop local 0
push local 0
push constant 0
add
push constant 3608
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1052
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1025
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16287
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16287
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 14239
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 14303
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 14303
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 14239
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16287
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16287
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1025
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1052
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3608
call Memory.poke 2
pop temp 0
push constant 0
return
function Truck.erase 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Truck.getLocation 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Truck.rotate 0
push argument 0
pop pointer 0
push pointer 0
call Truck.erase 1
pop temp 0
push this 2
push constant 90
add
pop this 2
push this 2
push constant 360
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 2
label IF_FALSE0
push pointer 0
call Truck.draw 1
pop temp 0
push constant 0
return
function Truck.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Truck.erase 1
pop temp 0
push this 1
push constant 2
sub
pop this 1
push pointer 0
call Truck.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Truck.moveDown 0
push argument 0
pop pointer 0
push constant 240
push this 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Truck.erase 1
pop temp 0
push this 1
push constant 2
add
pop this 1
push pointer 0
call Truck.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Truck.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Truck.erase 1
pop temp 0
push this 0
push constant 2
sub
pop this 0
push pointer 0
call Truck.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Truck.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 496
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Truck.erase 1
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
call Truck.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
